// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and
// $modal-content-box-shadow-xs.

// To customize
// - Copy paste the variable from node_modules/bootstrap/scss/_variables.scss
// @see: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// - Change the value and remove the flag.
//
// e.g.
// $body-bg: #000;
// $body-color: $gray-100;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$body-color: $gray-800;
$headings-color: $gray-800;

$font-family-sans-serif: 'Open Sans', serif;
$font-family-serif: 'Playfair Display', sans-serif;

$headings-font-family: $font-family-serif;

$font-size-base: 1.125rem;
