/* CSS HEX */
:root {
  --primary: #16697aff;
  --secondary: #ffa62bff;
  --background-light: #ede7e3ff;
}



/* SIMPLE BLOCK */

.simple-block {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.simple-block:hover {
  background-color: var(--background-light);
  cursor: pointer;
}

.simple-block--bordered {
  border: 3px solid var(--primary);
}

.simple-block__image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow:hidden;
  border: 1px solid var(--primary);
  background-color: #fff;
}

.simple-block__name {
  font-size: 1.66rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.simple-block__name__part--even {
  color: var(--primary);
}

.simple-block__name__part--odd {
  color: var(--secondary);
}










/* SIMPLE BLOCK USANDO FIELDS */
.paragraph--type--quote {
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.paragraph--type--quote:hover {
  background-color: var(--background-light);
  cursor: pointer;
}

.paragraph--type--quote .simple-block__image img {
  width:100%;
  height: auto;
}

.paragraph--type--quote.has-border {
  border: 3px solid var(--primary);
}

.paragraph--type--quote .field--name-field-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow:hidden;
  border: 1px solid var(--primary);
  background-color: #fff;
}

.paragraph--type--quote .field--name-field-quote-author {
  font-size: 1.66rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.paragraph--type--quote .field--name-field-quote-text {
  font-style: italic;
}


.node .field--name-field-image {
  margin: 3rem 0;
}

.node footer {
  font-size: 0.75rem;
}
