
{% set classes = [
  'simple-block',
  border ? 'simple-block--bordered'
] %}

<section{{ attributes.addClass(classes) }} >
  {% if icon != 'other' %}
    <img  src="/modules/custom/drupalcamp2022_block/img/profile-{{ icon }}.svg" 
          loading="lazy" 
          class="simple-block__image">
  {% endif %}

	<h1 class="simple-block__name">
    {{ name }}
	</h1>
</section>



